<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    
    <main>
        <% if(editing){ %> <%= pro  %> <% } else {  %>  Keep <% } %>
        <form class="product-form" 
            action="/admin/<% if(editing){ %>edit-product <% } else { %>add-product<% } %>" 
            method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    type="text"   
                    name="title"  
                    id="title"
                    <% if(editing){  %> value="<%=  pro.title %>"   <% }  %>
                    >
                   
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <% if(editing){ %>
                <img src="<%= pro.imageUrl %>" alt="<%= pro.title %>">
                <% } %>
                <input 
                    type="text"  
                    name="imageUrl" 
                    id="umageUrl"
                    <% if(editing){  %> value="<%=  pro.imageUrl %>"   <% }   %>
                    >
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                   type="number" 
                   name="price" 
                   id="price"
                   <% if(editing){ %> value="<%= pro.price %>" <% }  %>
                   > 
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5">
                    <% if(editing){  %> <%=  pro.description %> <% } %>    %>
                </textarea>

                <!-- For product.id to be in req.body -->
                <% if(editing){ %> 
                <input type="hidden"
                        name="productId" 
                        value="<%=pro.id %> " > 
                <% } %> 
            </div>
            <button class="btn" type="submit" >
                <% if(editing){ %> 
                    Edit Product 
                <% }else{ %> 
                    Add Product 
                    <% }%> 
            </button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>