<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>

<main class="centered">
   <h1>"reached"</h1> 
    <h1><%= productValue.productTitle %></h1>
    <hr>
    <div>
        <img src="<%= productValue.productImageUrl %>" alt="<%= productValue.productTitle %>">
    </div>
    <h2><%= productValue.productDesc %></h2>
    <p><%= productValue.productPrice %></p>
    <%- include('../includes/add-to-cart', { product:productValue }) %>
    <!-- <form action="/cart" method="post">
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= productValue.id %>">
    </form> -->
</main>





<%- include('../includes/end.ejs') %>
