<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>

<main class="centered">
   <h1>"reached"</h1> 
    <h1><%= productValue.title %></h1>
    <hr>
    <div class="image">
        <img src="<%= productValue.imageUrl %>" alt="<%= productValue.title %>">
    </div>
    <h2><%= productValue.descrption %></h2>
    <p><%= productValue.price %></p>
    <%- include('../includes/add-to-cart', { product:productValue }) %>
    <!-- <form action="/cart" method="post">
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= productValue.id %>">
    </form> -->
</main>





<%- include('../includes/end.ejs') %>
